$default: #7b7b7b;
//585858

$color: #243f4d;

// 2
$color-title: #436372;
$color-useful: a3bbc8;

// 1

%dmsans-500 {
  font-family: "DMSans-Medium", sans-serif;
  font-weight: 500;
}
%dmsans-700 {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}
%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}
%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}